<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sysUser-login">
    <div class="content-wrapper">
        <div class="form-container">
            <h2 class="form-title">登录表单</h2>
            <form id="form-login" class="login-form" action="/">
                <div>
                    <label>
                        <input placeholder="手机号" name="mobile" />
                    </label>
                </div>
                <div>
                    <label>
                        <input type="password" placeholder="密码" name="pwd"/>
                    </label>
                </div>
                <div>
                    <checkbox>
                        Remember me
                    </checkbox>
                    <button class="login-form-button" type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>